// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered-image {
  position: fixed;
  top: 40%;
  left: 40%;
  display: none;
}

// .pagination {
//   background: #fff;
//   height: 20px;
//   a, span, em {
//     padding: 0.2em 0.5em;
//     float: left;
//     margin-right: 3px;
//   }
//   .disabled {
//     display: none;
//   }
//   .current {
//     font-style: normal;
//     font-weight: bold;
//     color: #fff;
//     background: #428bca;
//     border: 1px solid #357ebd;
//   }
//   a {
//     text-decoration: none;
//     color: #145FB8;
//     border: 1px solid #94AAE3;
//     &:hover, &:focus {
//       color: #000033;
//       font-weight: bold;
//       border-color: #357ebd;
//     }
//   }
// }