<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= render "/layouts/head" %>
</head>
<body>

  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% elsif flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
